services:
  llm:
    build: .
    volumes:
      - .:/app
      - ./models:/app/models
    environment:
      - HF_ENDPOINT=${HF_ENDPOINT}
      - HF_TOKEN=${HF_TOKEN}
    stdin_open: true
    tty: true
    working_dir: /app
