services:
  llm:
    build: .
    volumes:
      - .:/app
      # Modèles téléchargés localement
      - ./models:/app/models
    ports:
      - "8888:8888"
    stdin_open: true
    tty: true
    working_dir: /app

volumes:
  hf-cache:
